@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mauli Marine</title>
    @Styles.Render("~/Content/css")


</head>
<body>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
    <nav class="navbar navbar-expand">
        <div class="container">
            <a href="#" class="navbar-brand">MMAPF</a>
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", new { @area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("ReturnUrl", (string)ViewBag.ReturnUrl)

                    <ul class="nav navbar-nav">
                        <li class="nav-link"><a href="~/Transactions/Index">Transactions</a></li>
                        <li class="nav-link"><a href="~/Reports/Index">Reports</a></li>
                        <li class="nav-link"><a href="~/Supplier/Index">Supplier</a></li>
                        <li class="nav-link"><a href="~/Material/Index">Material</a></li>
                        <li class="nav-link"><a href="~/Unit/Index">Unit</a></li>
                        <li class="account-link nav-link">
                            <i class="glyphicon-log-out"></i>
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                        </li>
                        <li class="account-link nav-link">
                            <i class="glyphicon-key"></i>
                            @Html.ActionLink("Recover a password?", "ForgotPassword", "Account")
                        </li>
                    </ul>
                }
            }
            else
            {
                <div class="float-right">
                    @Html.Partial("_LoginPartial")
                </div>
            }
        </div>
    </nav>

    <div class="container body-content">
        <br />
        <br />

        @RenderBody()
     
    </div>
    <footer>
        <p class="text-center">&copy; @DateTime.Now.Year Powered By - Prathamesh Vengurlekar</p>
    </footer>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js">

    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('*[data-autocombo-url]')
                .each(function () {
                    $(this).autocomplete({
                        source: $(this).data("autocombo-url"),
                        minLenght: 3,
                        delay: 500,
                        select: function (event, ui) {
                            $($(this).data("autocomplete-idholder")).val(ui.item.id);
                        }
                    });
                });
        });
    </script>


</body>
</html>
